@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}
body
{
    margin: 0;
    padding: 0;
    background: #f2f3f7;
}
section
{
    display: grid;
    margin: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-delay: 2s;
    /*background: #ff0;*/
}
/*loader*/
.animate
{
    min-height: 100vh;
    min-width: 100vw;
    background: #262626;
    overflow: hidden;
}
ul
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    display: flex;
}
ul li
{
    list-style: none;
    color: #484848;
    font-family: arial;
    font-size: 5em;
    letter-spacing: 15px;
    animation: animate 1.4s linear infinite;
}
@keyframes animate 
{
    0%
    {
        color: #484848;
        text-shadow: none;
    }
    90%
    {
        color: #484848;
        text-shadow: none;
    }
    100%
    {
        color: #fff900;
        text-shadow: 0 0 7px #fff900 , 0 0 50px #ff6c00;
    }
}
ul li:nth-child(1)
{
    animation-delay: .2s;
}
ul li:nth-child(2)
{
    animation-delay: .4s;
}
ul li:nth-child(3)
{
    animation-delay: .6s;
}
ul li:nth-child(4)
{
    animation-delay: .8s;
}
ul li:nth-child(5)
{
    animation-delay: 1s;
}
ul li:nth-child(6)
{
    animation-delay: 1.2s;
}



.controller.title
{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    background: #e2e3e7;
    background: linear-gradient(175deg, #efefef, #e2e3e7);
    color: #5a84a2;
    border-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}
.text
{
    width: 100%;
    margin: 30px 0;
}
.controller
{
    position: relative;
    width: 80vw;
    margin: 0 0 30px 0;
    border-radius: 7px;
    align-items: center;
    justify-content: start;
    box-shadow: -2px -2px 8px rgba(255,255,255,1),
                -2px -2px 12px rgba(255,255,255,0.5),
           inset 2px 2px 4px rgba(255,255,255,0.1),
                 2px 2px 8px rgba(0,0,0,0.15);
}
.rangeslide
{
    width: 60%;
    position: relative;
}
/*#rangeValue
{
    position: absolute;
    top: 0px;
    right: 402px;
    padding: 2px;
    width: 40px;
    background: #7ea681;
    border-radius: 20px;
    color: #fff;
    text-align: center;
}*/
.range
{
    width: 100%;
    height: 22px;
    margin: 25px;
    padding: 0 4px;
    background: #f2f3f7;
    box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
                inset -2px -2px 12px rgba(255,255,255,0.5),
                inset  2px 2px 4px rgba(255,255,255,0.1),
                inset  2px 2px 8px rgba(0,0,0,0.15);
    -webkit-appearance: none;
    outline: none;
    border-radius: 20px;
    /*overflow: hidden;*/
}
.range::-webkit-slider-thumb
{
    -webkit-appearance: none;
    width: 30px;
    height: 18px;
    border-radius: 50px;
    background: linear-gradient(330deg, #5a84a2, #d9d9d9);
    /*box-shadow: -210px 0px 0px 200px #fff;*/
    cursor: pointer;
}


.button
{
    position: relative;
    display: inline-block;
    margin: 25px;
    padding: 17px 35px 9px 35px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #5a84a2;
    font-size: 32px;
    outline: none;
    border: none;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    box-shadow: -2px -2px 8px rgba(255,255,255,1),
                -2px -2px 12px rgba(255,255,255,0.5),
           inset 2px 2px 4px rgba(255,255,255,0.1),
                 2px 2px 8px rgba(0,0,0,0.15);
}
.button.pushed
{
    content: '';
    box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
                inset -2px -2px 12px rgba(255,255,255,0.5),
                inset  2px 2px 4px rgba(255,255,255,0.1),
                inset  2px 2px 8px rgba(0,0,0,0.15);
}